.codeblock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #e3f2fd;
}

.codeblock-title {
  font-size: 3rem;
  color: #0d47a1;
  margin-bottom: 30px;
  font-family: "Suez One", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.content-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.description-container {
  flex: 1;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid #d1d1d1;
  background-color: #fcfbfb;
  border-left: 6px solid #616161;
  border-radius: 4px;
  padding: 20px;
  margin-top: 20px;
}

.description {
  font-size: 0.9rem;
  color: #353434;
  line-height: 1.6;
  margin-bottom: 15px;
}

.editor-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  padding: 20px;
}

.hints-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.hint-button {
  display: flex;
  align-items: center;
  width: 40%;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #a2a7ac;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.hint-button:hover {
  background-color: #c9cacb;
}

.hint {
  background-color: #f1f1f1;
  border-left: 4px solid #616161;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  color: #333;
}

.smiley-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
}

.smiley-content {
  font-size: 10rem;
  text-align: center;
}

.mentor-left-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  text-align: center;
  font-size: 1.5rem;
}

.mentor-left-message::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}

.run-button,
.exit-button {
  width: 25%;
  height: 40px;
  padding: 5px;
  margin-bottom: 25px;
  font-size: 1.2rem;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.run-button {
  background-color: #43a047;
}

.run-button:hover {
  background-color: #66bb6a;
}

.exit-button {
  background-color: #d32f2f;
}

.exit-button:hover {
  background-color: #e57373;
}

.output-container {
  width: 97%;
  padding: 10px;
  min-height: 200px;
  margin-top: 20px;
  margin: 20px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  font-family: "Fira code", "Fira Mono", monospace;
  white-space: pre-wrap;
}

.output-title {
  padding-left: 5px;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .content-container {
    flex-direction: column;
    align-items: center;
  }
  .description-container,
  .editor-container {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
  }
  .codeblock-editor {
    width: 100%;
  }
  .buttons-container {
    width: 100%;
  }
  .output-container {
    width: 100%;
  }
  .description-container {
    order: 1;
  }
  .editor-container {
    order: 2;
  }
  .output-container {
    order: 3;
  }
}

@media screen and (max-width: 768px) {
  .content-container {
    flex-direction: column;
    align-items: center;
  }
  .description-container,
  .editor-container {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
  }
  .codeblock-editor {
    width: 100%;
  }
  .codeblock-title {
    font-size: 2rem;
  }
  .run-button,
  .exit-button {
    width: 45%;
  }
  .description-container {
    order: 1;
  }
  .editor-container {
    order: 2;
  }
  .output-container {
    order: 3;
  }
}
